#mifoto{
    width: 200px;
    border: 4px blue;
    border-radius: 50%;
}

#intro{ 
    font-style: italic; 
    font-size: 1.2rem;
}

.cabecera-gris{ 
    color: grey; 
}

iframe{
    border: 2px red;
    border-radius: 10px;
}