* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

section{
    position: relative;
}

article{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    box-shadow: 10px 10px 5px gray;
    position: absolute;

}

.rojo{
    background-color: red;
    
    
}

.amarillo{
    background-color: yellow;
    left: 200px;
    top: 200px;

}
.azul{
    background-color: blue;
    left: 400px;
}